---
layout: default
---
<div id="home">
    <hr />
    {% if page.language == 'all' %}
        <ul class="mdl-list">
            {% for post in site.posts %}
                {% include post_link.html %}
            {% endfor %}
        </ul>
    {% else %}
        <ul class="mdl-list">
            {% for post in site.posts %}
                {% if post[page.type] contains page.name %}
                    {% include post_link.html %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</div><!-- end #home -->